.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #23241f;
}
.hljs,
.hljs-tag,
.hljs-subst {
    color: #f8f8f2;
}
.hljs-strong,
.hljs-emphasis {
    color: #a8a8a2;
}
.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
    color: #ae81ff;
}
.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
    color: #a6e22e;
}
.hljs-strong {
    font-weight: bold;
}
.hljs-emphasis {
    font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
    color: #f92672;
}
.hljs-symbol,
.hljs-attribute {
    color: #66d9ef;
}
.hljs-params,
.hljs-class .hljs-title {
    color: #f8f8f2;
}
.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
    color: #e6db74;
}
.hljs-comment,
.hljs-deletion,
.hljs-meta {
    color: #75715e;
}
.highlight {
    overflow: auto;
}
.highlight table {
    width: 100%;
    max-width: 100%;
}
.highlight pre {
    font-size: 0.8125rem;
}
.highlight .gutter {
    width: 5%;
    text-align: right;
}
.highlight .gutter pre {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}
.highlight .code {
    width: 95%;
}
.highlight .code pre {
    border: 0;
}
code {
    color: #1999ec;
    padding: 0 0.125rem;
    margin: 0 0.125rem;
    border-radius: 0.0625rem;
    background-color: #f0e8df;
}
@media only screen and (max-width: 414px) {
    .highlight pre {
        font-size: 0.75rem;
    }
}
html,
body {
    color: #555;
    background-color: #fff;
    font-size: 100%; /* add PX (or original value) as backup */
    font-size: 100%;
}
a {
    color: #1999ec;
}
a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #1999ec;
    transition: all 0.25s;
    cursor: pointer;
}
strong {
    color: #555;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #555;
}
.site-header {
    padding: 2.5rem 0;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 1.875rem;
}
.site-header.header-background {
    border-bottom: 0;
    background-color: #808080;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.site-header .page-title {
    color: #1999ec;
    text-align: center;
    text-shadow: 1px 1px 2px #555;
}
.site-header .page-title.with-background-image {
    color: #fff;
    padding: 3.125rem 0;
}
.site-header .page-title .title {
    font-size: 2.25rem;
}
.site-menu {
    text-align: center;
    margin-top: 0.625rem;
    text-shadow: 3px 3px 3px #555;
}
.site-menu ul {
    margin: 0 auto;
    padding: 0;
}
.site-menu ul > li {
    display: inline-block;
    margin-right: 0.625rem;
}
.site-menu ul > li:last-child {
    margin-right: 0;
}
.site-menu ul > li > a {
    padding: 0.1875rem 0.625rem;
    border-radius: 0.125rem;
}
.site-menu.with-background-image a {
    color: #fff;
}
@media only screen and (max-width: 414px) {
    .site-header .page-title.with-background-image {
        padding: 1.875rem 0;
    }
    .site-header .page-title .title {
        font-size: 1.375rem;
    }
    .site-menu {
        font-size: 1rem;
    }
    .site-menu ul li {
        margin-right: 0;
    }
    .site-menu ul li > a {
        padding: 0.1875rem 0.375rem;
    }
}
.post-item-wrapper {
    padding: 2.1875rem 0;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
    overflow: hidden;
}
.post-item-wrapper:last-child {
    border-bottom: none;
}
.post-item-wrapper .post-title {
    display: inline-block;
    padding: 0 0.625rem;
    margin-bottom: 1.25rem;
    font-size: 1.375rem;
    text-align: center;
    border-radius: 0.125rem;
}
.post-item-wrapper .post-excerpt {
    overflow: hidden;
}
.post-item-wrapper .date-and-category,
.post-item-wrapper .excerpt,
.post-item-wrapper .tags {
    float: left;
}
.post-item-wrapper .date-and-category,
.post-item-wrapper .tags {
    width: 14%;
}
.post-item-wrapper .excerpt {
    width: 64%;
    margin: 0 4%;
    font-size: 0.875rem;
    text-align: justify;
}
.post-item-wrapper .excerpt p {
    margin-bottom: 0;
}
.post-item-wrapper .date-and-category {
    font-size: 0.8125rem;
    text-align: center;
    border: 1px solid #1999ec;
    border-radius: 0.1875rem;
}
.post-item-wrapper .date-and-category .date,
.post-item-wrapper .date-and-category .categories {
    padding: 0.125rem 0;
}
.post-item-wrapper .date-and-category .date {
    color: #1999ec;
}
.post-item-wrapper .date-and-category .categories {
    color: #fff;
    background-color: #1999ec;
}
.post-item-wrapper .date-and-category .categories > a {
    color: #fff;
    background-color: #1999ec;
}
.post-item-wrapper .tags {
    overflow: hidden;
}
.post-item-wrapper .tags .untagged,
.post-item-wrapper .tags .tag {
    display: inline-block;
    font-size: 0.8125rem;
    padding: 0 0.3125rem;
    text-align: center;
    border: 1px solid #1999ec;
    border-radius: 0.1875rem;
}
.post-item-wrapper .tags .untagged {
    color: #1999ec;
}
@media only screen and (max-width: 768px) {
    .post-item-wrapper .date-and-category,
    .post-item-wrapper .tags {
        display: none;
    }
    .post-item-wrapper .excerpt {
        width: 100%;
        padding: 0 5%;
        margin: 0;
        float: none;
    }
    .post-item-wrapper .post-title {
        font-size: 1.125rem;
    }
}
.archive-item {
    margin-bottom: 1.25rem;
}
.archive-item .post-title {
    font-size: 1.25rem;
    padding: 0 0.3125rem;
    border-radius: 0.125rem;
}
.archive-item .date {
    font-size: 0.875rem;
    padding: 0 0.3125rem;
}
@media only screen and (max-width: 414px) {
    .archive-item .post-title {
        font-size: 1rem;
    }
    .archive-item .date {
        font-size: 0.875rem;
    }
}
.post-tags,
.post-info {
    font-size: 0.875rem;
    font-style: italic;
    text-align: center;
}
.post-info {
    margin-bottom: 0.3125rem;
}
.post-info .info {
    padding: 0 0.5rem;
    border-right: 1px dotted #85878a;
}
.post-info .info:last-child {
    border-right: none;
}
.post-info .categories a {
    padding: 0.125rem 0.25rem;
    border-radius: 0.125rem;
}
.post-tags {
    font-style: italic;
}
.post-tags > a {
    display: inline-block;
    padding: 0 0.25rem;
    margin-right: 0.125rem;
    border-radius: 0.125rem;
}
.post-content {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-size: 0.9375rem;
}
@media only screen and (max-width: 414px) {
    .post-tags,
    .post-info {
        font-size: 0.75rem;
    }
    .post-tags .info,
    .post-info .info {
        padding: 0 0.3125rem;
    }
    .post-tags .time,
    .post-info .time {
        display: none;
    }
    .post-content {
        font-size: 0.78125rem;
    }
}
footer {
    padding: 2.1875rem 0;
    border-top: 1px solid #e1e1e1;
    font-size: 0.75rem;
    text-align: center;
}
.pagination {
    display: block;
    text-align: center;
    overflow: hidden;
}
.pagination > li {
    display: inline-block;
}
.pagination > li > a {
    color: #1999ec;
    background-color: #fff;
    border: 1px solid #1999ec;
    border-radius: 0.1875rem;
}
.pagination > li > a:hover {
    color: #fff;
    background-color: #1999ec;
    border: 1px solid #1999ec;
}
.pagination > li > a span {
    display: inline-block;
}
@media only screen and (max-width: 414px) {
    .pagination {
        font-size: 0.875rem;
    }
}
